* {
  box-sizing: border-box;
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

body {
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background-color: black;
  font-family: 'Inconsolata', monospace;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  color: var(--light);
}

form {
  width: 60%;
}

.btn {
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 0;
	padding: 10px 15px;	
  border: 1px solid black;
}

.btn:hover {
  opacity: .8;
  background-color: blue;
  color: white;
}

.btn[disabled] {
  cursor: default;
  opacity: .8;
}

.btn-inline {
  display: inline;
}

.followingbutton{
  margin-left: 150px;
 margin-bottom: 20px;
}

.followingbutton1{

  margin-left: 14%;
  float:left
}

.followingform{
  height:250px;
  margin-left: 600px;
  border:solid black 2px;
  width: 20vw;
}
/* .followerbox {
  margin-bottom: 50px
} */
.followerbox1 {
  margin-bottom: 93px
}
.followerbox2 {
  margin-bottom: 136px
}
.followerbox3 {
  margin-bottom: 80px
}

.username {
  margin:auto;
  float:left
}